/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */

/********************************************************************************
                                GENERAL
********************************************************************************/
html,
body {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

a,
a:focus,
a:hover {
    text-decoration: none;
}

section {
    background: #FFF;
}

/********************************************************************************
                                HELPER CLASSES
********************************************************************************/

.m-auto {
    margin: auto;
}

.m-0{
    margin: 0!important;
}

.m-10 {
    margin: 10px!important;
}

.m-30 {
    margin: 30px!important;
}

.m-50 {
    margin: 50px!important;
}

.m-70 {
    margin: 70px!important;
}

.m-90 {
    margin: 90px!important;
}

.m-100 {
    margin: 100px!important;
}

.m-120 {
    margin: 120px!important;
}

.m-t-0{
    margin-top: 0!important;
}

.m-t-10 {
    margin-top: 10px!important;
}

.m-t-15 {
    margin-top: 15x!important;
}

.m-t-20 {
    margin-top: 20px!important;
}

.m-t-30 {
    margin-top: 30px!important;
}

.m-t-50 {
    margin-top: 50px!important;
}

.m-t-70 {
    margin-top: 70px!important;
}

.m-t-90 {
    margin-top: 90px!important;
}

.m-t-100 {
    margin-top: 100px!important;
}

.m-t-120 {
    margin-top: 120px!important;
}

.m-b-0{
    margin-bottom: 0;
}

.m-b-10 {
    margin-bottom: 10px!important;
}

.m-b-20 {
    margin-bottom: 20px!important;
}

.m-b-30 {
    margin-bottom: 30px!important;
}

.m-b-40 {
    margin-bottom: 40px!important;
}

.m-b-50 {
    margin-bottom: 50px!important;
}

.m-b-70 {
    margin-bottom: 70px!important;
}

.m-b-90 {
    margin-bottom: 90px!important;
}

.m-b-100 {
    margin-bottom: 100px!important;
}

.m-b-120 {
    margin-bottom: 120px!important;
}

.p-0{
    padding: 0!important;
}

.p-100{
    padding: 100px!important;
}

.p-t-0{
    padding-top: 0!important;
}


.p-t-100{
    padding-top: 100px!important;
}

.p-b-0{
    padding-bottom: 0!important;
}

.p-b-100{
    padding-bottom: 100px!important;
}

/********************************************************************************
                                GENERAL BUTTONS
********************************************************************************/

.btn-general {
    font-family: 'Raleway', sans-serif;
    border-radius: 30px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px;
    transition: all .5s;
}

.btn-green {
    color: #FFF;
    background-color: #5c9320;
}

.btn-white {
    color: #212226;
    background-color: #FFF;
}

.btn-white:hover,
.btn-white:focus,
.btn-green:hover,
.btn-green:focus {
    /*Mobile ke liye focus and mouse ke liye hover*/
    color: #FFF;
    background-color: #212226;
}

.btn-gradient {
    color: #FFF;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #5c9320 0%, #63c600 51%, #5c9320 100%);
}

.btn-gradient:hover,
.btn-gradient:focus {
    color: #FFF;
    background-position: right;
}

.btn-back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 4px;
    font-size: 25px;
    padding: 3px 15px;
}

/********************************************************************************
                                CONTENT BOXES
********************************************************************************/

.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}

.content-box-sm {
    padding: 70px 0;
}

.content-box-xs {
    padding: 30px 0;
}

/********************************************************************************
                                GENERAL HEADINGS
********************************************************************************/

.vertical-heading h5,
.horizontal-heading h5 {
    color: #5c9320;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    word-spacing: 9px;
}

.vertical-heading h5 {
    display: inline-block;
    transform: rotate(-90deg);
    /*rotates clockwise toh anticlockwise ke liye -ve */
    position: relative;
    top: 60px;
    left: -55px;
}

.vertical-heading h2,
.horizontal-heading h2 {
    font-size: 28px;
    font-weight: 100;
    line-height: 45px;
}

.vertical-heading h2 {
    margin: 0 0 0 35px;
}

.horizontal-heading {
    text-align: center;
}

.horizontal-heading h2 {
    margin: 0;
}

.horizontal-heading h5 {
    margin-bottom: 5px;
}

.highlight-heading {
    color: #5c9320;
    font-weight: 700;
}

.highlight-heading-small{
    color: #5c9320;
}

/********************************************************************************
                                SOCIAL ICONS
********************************************************************************/

ul.social-icons {
    padding: 0;
}

ul.social-icons li {
    display: inline-block;
}

ul.social-icons li a {
    border: solid 1px #FFF;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 100%;
    color: #FFF;
    transition: all .3s linear;
}

ul.social-icons li.fb-icon a:hover {
    background: #3B5998;
    border-color: transparent;
}

ul.social-icons li.twitter-icon a:hover {
    background: #00ACED;
    border-color: transparent;
}

ul.social-icons li.google-plus-icon a:hover {
    background: #BD4B39;
    border-color: transparent;
}

/********************************************************************************
                                LOADER
********************************************************************************/

.loader {
    /*Make FullScreen*/
    width: 100%;
    height: 100%;
    /*kbhi kbhi browser ko fixed nhi smjhta toh as a fallback rkha hu*/

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: #5c9320;
    background: linear-gradient(to right, #5c9320 2%, #63c600 82%);
    z-index: 9999;
}

.loader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    /*
    background: #FFF
    width: 120px;
    height: 120px;
*/
    /*
    Method 1 to make object center
    margin-top: -60px;
    margin-left: -60px;
    This method requires u to know the width and height which is not suitable and it doesn't take percentage. So we use method 2.
*/
    /*
    Method 2 to make object center
    This method uses CGR to make the object center by trnslations.
    transform: translateY(-50%);
    transform: translateX(-50%); 
    2 Translate nhi chalega
    Isliye neeche wala line use krna padega
    
    Translate is property of CSS3 so make sure u have a fallback.
*/
    transform: translate(-50%, -50%);
}

.loader span {
    width: 12px;
    height: 12px;
    background: #FFF;
    border-radius: 100%;
    display: block;
    position: absolute;
    opacity: 0;
    animation: load 5s ease-in-out infinite;
}

.loader-blocks {
    width: 60px;
    height: 60px;
}

.loader span.block-1 {
    animation-delay: 1.06s;
    left: 0px;
    top: 0px;
}

.loader span.block-2 {
    animation-delay: 0.97s;
    left: 16px;
    top: 0px;
}

.loader span.block-3 {
    animation-delay: 0.88s;
    left: 32px;
    top: 0px;
}

.loader span.block-4 {
    animation-delay: 0.79s;
    left: 48px;
    top: 0px;
}

.loader span.block-5 {
    animation-delay: 0.70s;
    left: 0px;
    top: 16px;
}

.loader span.block-6 {
    animation-delay: 0.61s;
    left: 16px;
    top: 16px;
}

.loader span.block-7 {
    animation-delay: 0.52s;
    left: 32px;
    top: 16px;
}

.loader span.block-8 {
    animation-delay: 0.43s;
    left: 48px;
    top: 16px;
}

.loader span.block-9 {
    animation-delay: 0.34s;
    left: 0px;
    top: 32px;
}

.loader span.block-10 {
    animation-delay: 0.25s;
    left: 16px;
    top: 32px;
}

.loader span.block-11 {
    animation-delay: 0.16s;
    left: 32px;
    top: 32px;
}

.loader span.block-12 {
    animation-delay: 0.07s;
    left: 48px;
    top: 32px;
}

.loader span.block-13 {
    animation-delay: -0.02s;
    left: 0px;
    top: 48px;
}

.loader span.block-14 {
    animation-delay: -0.11s;
    left: 16px;
    top: 48px;
}

.loader span.block-15 {
    animation-delay: -0.2s;
    left: 32px;
    top: 48px;
}

.loader span.block-16 {
    animation-delay: -0.29s;
    left: 48px;
    top: 48px;
}

@keyframes load {
    0% {
        opacity: 0;
        transform: translateY(-95px);
    }

    15% {
        opacity: 0;
        transform: translateY(-95px);
    }

    30% {
        opacity: 1;
        transform: translateY(0);
    }

    70% {
        opacity: 1;
        transform: translateY(0);
    }

    85% {
        opacity: 0;
        transform: translateY(95px);
    }

    100% {
        opacity: 0;
        transform: translateY(95px);
    }
}

/********************************************************************************
                                    HEADER
********************************************************************************/

.navbar{
    padding: 35px 0 25px 0;
    transition: all .3s linear;
}

.site-nav-wrapper{
    padding: 0 85px;
}

.navbar-brand{
    padding-top: 0;
}

.navbar .navbar-nav{
/*    To make the links at the center of the logo*/
    transform: translateY(50%);
}

ul.navbar-nav>li>a{
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.4rem 0;
    min-width: 100px;
    text-align: center;
}

ul.navbar-nav>li>a:focus,
ul.navbar-nav>li>a:hover{
/*    background: #5c9320;*/
    background: none;
}

.scrolled-navbar{
    padding: 10px 0;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}

.white-nav-top{
    background: #FFF;
}

.green-nav-top{
    background: linear-gradient(to right, #63C600 2%, #5C9320 82%);
}

.green-nav-top ul.navbar-nav.nav>li.active>a{
    border-radius: 20px;
    background: #00596A;
    font-weight: 500;
}

.navbar-header{
    position: relative;
}

#mobile-nav-open-btn{
    font-size: 30px;
    color: #FFF;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 6px;
}

#mobile-nav{
    width: 100%;
    height: 0%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, .9);
    transition: all .3s linear;
    overflow-y: hidden; /*height kam hoti hai jab animate krta hu. Toh scrollbar na dikhaye isliye yeh rule set kr diya.*/
}

#mobile-nav-close-btn{
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    color: #212229;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: -15px;
    transition: all .3s linear;
}

#mobile-nav-content{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
}

#mobile-nav li{
    margin-bottom: 20px;
}

#mobile-nav a{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus{
    color: #5C9320;
    background: none;
}

.green-nav-top #mobile-nav ul.nav>li.active>a{
    color: #5c9320;
    font-weight: 500;
}

/********************************************************************************
                                HOME SECTION
********************************************************************************/

#home {
    height: 100vh;
    background: none;
}

#home-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    /*alternative fallback*/
    background: url(../video/video.jpg) no-repeat cover;
}

#home-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading {
    color: #FFF;
    font-size: 5rem;
    font-weight: 100;
    text-transform: capitalize;
    margin: 0;
    /*Headings ke margin hote hai jisey 0 krna hoga wrna sirf lagega center mei h*/
}

.colored-text {
    color: #5c9320;
    font-weight: 500;
}

#home-text {
    color: #FFF;
    font-size: 17px;
    font-weight: 100;
    margin: 10px 0 30px 0;
}

#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #FFF;
    font-size: 32px;
    z-index: 1;
    margin-left: -16px;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #5c9320;
}

/********************************************************************************
                                ABOUT SECTION
********************************************************************************/

#about-bottom img {
    margin: 0 auto;
}

#about-02 {
    background: #F4F4F4;
}

.about-item {
    background: #FFF;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.about-item i {
    font-size: 42px;
    /*    display: inline-block; Inline elements cannot be transformed or animated. FontAwesome icons are inline-block but lineIcons are inline. Therefore, fa icons can be animated */
}

.about-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-item hr {
    background-color: #5c9320;
    width: 45px;
    height: 3px;
    margin: 20px auto;
}

/* HOVER STATE */
.about-item:hover {
    background-color: #5c9320;
    /*
    transform-style: preserve-3d;
    transform: rotateY(180deg);
*/
}

.about-item:hover i,
.about-item:hover p,
.about-item:hover h3 {
    color: #FFF;
}

.about-item:hover hr {
    background-color: #FFF;
}

.about-item:hover i {
    transform: translateY(-20px);
}

/* SMOOTH TRANSITION */
.about-item p,
.about-item h3 {
    transition: all .4s linear;
}

.about-item,
.about-item hr,
.about-item i {
    transition: all .4s ease-in-out;
}

/********************************************************************************
                                TEAM SECTION
********************************************************************************/

.team-member {
    position: relative;
}

.team-member-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 34, 38, .9);
    overflow: hidden;
    /*So that UI does not tear*/
    opacity: 0;
    transition: all .3s linear;
}

.team-member:hover .team-member-overlay {
    opacity: 1;
}

.team-member-info {
    width: 100%;
    height: 100%;
    padding: 80px 0;
}

.team-member-info h5 {
    color: #5c9320;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.team-member-info p {
    color: #FFF;
    font-weight: 300;
}

/********************************************************************************
                                SKILLS
********************************************************************************/

.skill h4 {
    font-weight: normal;
}

.progress {
    height: 12px;
    border-radius: 50px;
    background-color: #EFEFEF;
    overflow: visible;
}

.progress-bar {
    /*    background: #5c9320;*/
    background: linear-gradient(to right, #5C9320 0%, #63C000 51%, #5C9320 100%);
    border-radius: 50px;
    position: relative;
}

.progress-bar span {
    position: absolute;
    top: -40px;
    left: 95%;
    background: #212226;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
}

.progress-bar span:before {
    content: '';
    border-top: 8px solid #212226;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    left: 34%;
    top: 30px;
}

/********************************************************************************
                                STATEMENT SECTION
********************************************************************************/

#statement {
    background: url('../img/tech/tech-statement.jpg') no-repeat fixed center/*/cover*/;
    background-size: cover;
}

#statement .content-box-lg{
    background-color: rgba(0, 0, 0, 0.5);
}

#statement h3{
    color: #FFF;
    font-size: 28px;
    line-height: 45px;
}

#statement p{
    color: #5c9320;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/********************************************************************************
                                SERVICES SECTION
********************************************************************************/

/*services-01*/

#services-01 img{
    margin-top: 80px;
}

.service .icon{
    font-size: 42px;
    transition: all .4s linear;
}

.service:hover .icon{
    color: #5c9320;
    transform: translateX(-20px);
}

.service h5{
    color: #5C9320;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
    transition: all .3s linear;
}

.service:hover h5{
    color: #212226;
}

.service h3{
    margin: 0 0 8px 0;
}

.service p{
    margin: 0;
    line-height: normal;
}

/*SERVICE 02 SECTION*/

#services-02{
    background: #F4F4F4;
}

#services-tabs ul li.r-tabs-state-active a{
    color: #5c9320;
    font-weight: 700;
    border-bottom: solid 3px #5c9320;
    padding-bottom: 5px;
}

#services-tabs ul li{
    padding: 5px 30px;
    font-size: 13px;
    color: #212226;
    text-transform: uppercase;
    font-weight: 500;
}

#services-tabs ul li a{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #212226;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: solid 3px transparent;
}

.service-tab .service-tab-bg{
    background: #FFF;
    padding: 50px 30px;
    min-height: 481.5px;
    position: relative;
}

.service-tab h2{
    font-size: 48px;
    color: #CCC;
    font-weight: 100;
    margin: 0 0 20px 0;
    position: absolute;
    top: 0;
    left: 10px;
}

.service-tab h3{
    font-size: 32px;
}

.service-tab .col-md-6{
    padding: 0;
}

.service-tab img{
    width: 100%;
}

/********************************************************************************
                                PORTFOLIO SECTION
********************************************************************************/

.portfolio-item{
    position: relative;
    overflow: hidden;
}

.portfolio-item img{
    transition: all .4s ease;
}

.portfolio-item-overlay{
    background: rgba(92, 147, 32, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    transition: all .4s ease
}

.portfolio-overlay-details{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.portfolio-overlay-details h3{
    margin: 0;
    color: #FFF;
    font-size: 30px;
    text-transform: uppercase;
    transform: translateY(-20%);
    transition: all .4s ease;
}

.portfolio-overlay-details span{
    display: inline-block;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    height: 6px;
    width: 30px;
    margin: 10px auto;
}

.portfolio-overlay-details p{
    font-size: 17px;
    color: #FFF;
    text-transform: capitalize;
    line-height: 0.5rem;
    margin: 0;
    padding: 0;
    transform: translateY(50%);
    transition: all .4s ease;
}

/*Portfolio Hover*/
.portfolio-item:hover img{
    transform: scale(1.2)
}

.portfolio-item:hover .portfolio-item-overlay{
    opacity: 1;
}

.portfolio-item:hover .portfolio-overlay-details h3,
.portfolio-item:hover .portfolio-overlay-details p{
    transform: translateY(0);
}

/*ISOTOPE FILTERS*/

#isotope-filters button{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    background: transparent;
    padding-right: 35px;
}

#isotope-filters button span{
    display: block;
    padding-bottom: 5px;
    border-bottom: solid 3px transparent;
}

#isotope-filters button.active span{
    color: #5C9320;
    border-bottom: solid 3px #5C9320;
}


/********************************************************************************
                                TESTIMONIAL SECTION
********************************************************************************/

#testimonials{
    background-color: #F4F4F4;
}

#testimonial-slider{
    background-color: #5C9320;
    transform: translateY(-150px);
}

.testimonial{
    padding: 20px 45px 0 45px;
    color: #FFF;
}

.testimonial h3{
    font-size: 32px;
    line-height: 35px;
}

.testimonial .stars{
    font-size: 20px;    
    margin: 20px 0 10px 0;
}

.testimonial p{
    line-height: normal;
    font-weight: 300;
}

.testimonial .author-name-des{
    margin-top: 10px;
}

.testimonial .author-name-des p{
    font-weight: 500;
    margin-bottom: 5px;
}

/********************************************************************************
                                PRICING TABLE
********************************************************************************/

.pricing-table{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    border-radius: 5px;
    transition: all .3s linear;
}

.pricing-table.pricing-table-black{
    background: #212226;
    color: #FFF;
}

.pricing-table.pricing-table-black .type h4{
    color: #FFF;
}

.pricing-table.pricing-table-black .btn{
    background-color: #FFF;
    color: #212226;
}

.pricing-table.pricing-table-up{
    position: relative;
    top: -20px;
}

.pricing-table.pricing-table-black:hover{
    background: #5C9320;
    transform: scale(1.1);
}

.pricing-table:hover{
    background-color: #5C9320;
    color: #FFF;
}

.pricing-table:hover .type h4{
    color: #FFF;
}

.pricing-table:hover .btn{
    color: #212226;
    background-color: #FFF;
}

.pricing-table .type{
    border-bottom: solid 1px #E0E0E0;
    padding-bottom: 20px;
}

.pricing-table .type h4{
    color: #5C9320;
    font-size: 24px;
    transition: all .3s linear;
}

.pricing-table .price{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E0E0E0;
}

.pricing-table .price h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 100;
    position: relative;
    margin: 0 0 0 25px;
}

.pricing-table .price span{
    font-family: 'Raleway', sans-serif;
}

.pricing-table .price p{
    line-height: normal;
    font-weight: 300;
    margin: 0;
}

ul.package{
    list-style: none;
    padding: 20px 0;
}

ul.package li{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
}

ul.package li i{
    padding-right: 20px;
}

span.dollar{
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    top: 5px;
    left: -20px;
}

span.per-month{
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    bottom: -15px;
}

/********************************************************************************
                                STATS SECTION
********************************************************************************/

#stats{
    background: url(../img/stats/stats-bg.jpg) no-repeat fixed center;
    background-size: cover;
}

#stats .vertical-heading h2{
    color: #FFF;
}

.stats-item{
    background: rgba(61, 68, 68, .6);
    padding: 25px 50px;
    border-radius: 5px;
    transition: all .4s linear;
}

.stats-item i{
    font-size: 42px;
    color: #5C9320;
    margin: 0 0 5px 0;
    transition: all .4s linear;
}

.stats-item h3{
    color: #FFF;
    font-size: 32px;
    margin: 5px 0;
}

.stats-item p{
    color: #FFF;
    margin: 0;
}

.stats-item:hover{
    background: #5C9320;
}

.stats-item:hover i{
    color: #FFF;
    transform: translateY(-20px);
}

/********************************************************************************
                                MAP SECTION
********************************************************************************/

#map{
    height: 500px;
}

/********************************************************************************
                                    FOOTER
********************************************************************************/

footer{
    background: #212226;
    padding: 10px;
}

footer p{
    color: white;
}


/********************************************************************************
                                LINE ICON SETTING
********************************************************************************/
[class*='lni-'] {
    /*
    That was a regex
    *= means contains
    ^= means starts with
    */
    display: inline-block;
}

/********************************************************************************
                                OWL SLIDER BUTTONS
********************************************************************************/

.owl-theme .owl-nav [class*=owl-] {
    color: #212226;
    font-size: 40px;
    background: none;
    margin: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #5C9320;
}

#testimonial-slider.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #FFF;
}
/********************************************************************************
                                TWEAKING BOOTSTRAP
********************************************************************************/

.row.no-gutters [class*=col-]{
    padding: 0;
}